Squad/**
SquadExpansion/**
AtmosphereAutopilot/designs/**
**/*.log
KerbalEngineer/Settings/SectionLibrary.xml
KerbalEngineer/Settings/BuildAdvanced.xml
BDArmory\Logs\**
QuickMods/QuickStart/Config.txt
ModuleManager.ConfigSHA
ModuleManager.ConfigCache
BDArmory/settings.cfg

