  
Squad/**
SquadExpansion/**
AtmosphereAutopilot/designs/**
**/*.log
**/@thumbs/*.png
KerbalEngineer/Settings/SectionLibrary.xml
KerbalEngineer/Settings/BuildAdvanced.xml
BDArmory\Logs\**
QuickMods/QuickStart/Config.txt
ModuleManager.ConfigSHA
ModuleManager.ConfigCache
BDArmory/PluginData/settings.cfg
BDArmory/Plugins/PluginData/**