  
Squad/**
SquadExpansion/**
AtmosphereAutopilot/designs/**
KerbalEngineer/Settings/**
**/*.log
**/@thumbs/*.png
BDArmory\Logs\**
QuickMods/QuickStart/Config.txt
ModuleManager.ConfigSHA
ModuleManager.ConfigCache
BDArmory/PluginData/settings.cfg
BDArmory/Plugins/PluginData/**
EditorExtensionsRedux/EditorExtensionsRedux.version
EditorExtensionsRedux/License.txt
EditorExtensionsRedux/MiniAVC.dll.pruned
EditorExtensionsRedux/MiniAVC.xml
EditorExtensionsRedux/PluginData/DefaultSnap.cfg
EditorExtensionsRedux/PluginData/StockSnap.cfg
EditorExtensionsRedux/PluginData/StripSymmetry/config.xml
EditorExtensionsRedux/Plugins/config.xml
EditorExtensionsRedux/Plugins/EditorExtensionsRedux.dll
EditorExtensionsRedux/Plugins/EditorExtensionsRedux.dll.mdb
EditorExtensionsRedux/README.md
EditorExtensionsRedux/Textures/AppLauncherIcon-Off.png
EditorExtensionsRedux/Textures/AppLauncherIcon-On.png
EditorExtensionsRedux/Textures/AppLauncherIcon.png
FerramAerospaceResearch/Plugins/PluginData/FerramAerospaceResearch/config.xml
ModuleManager.Physics
TURD/TU_B9_ProcWings/pWingsB9_Texture_Sets.cfg
TURD/TU_B9_ProcWings/Textures/190_wing_edge_Paint.dds
TURD/TU_B9_ProcWings/Textures/Alt_HSRI_wing_edge_Spec.dds
TURD/TU_B9_ProcWings/Textures/Alt_HSRI_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/Alt_LSRI_HSRI_wing_edge_Bump.dds
TURD/TU_B9_ProcWings/Textures/Alt_LSRI_HSRI_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/Alt_LSRI_wing_edge_Spec.dds
TURD/TU_B9_ProcWings/Textures/Alt_LSRI_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/Alt_Reinforced_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/Alt_Reinforced_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/Alt_Standard_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/Alt_Standard_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/HSRI_wing_edge_Spec.dds
TURD/TU_B9_ProcWings/Textures/HSRI_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/HSRI_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/LSRI_HSRI_wing_edge_Bump.dds
TURD/TU_B9_ProcWings/Textures/LSRI_wing_edge_Spec.dds
TURD/TU_B9_ProcWings/Textures/LSRI_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/LSRI_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/Reinforced_wing_edge_Bump.dds
TURD/TU_B9_ProcWings/Textures/Reinforced_wing_edge_Spec.dds
TURD/TU_B9_ProcWings/Textures/Reinforced_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/Reinforced_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/Textures/Standard_wing_edge_Bump.dds
TURD/TU_B9_ProcWings/Textures/Standard_wing_edge_Spec.dds
TURD/TU_B9_ProcWings/Textures/Standard_wing_surface_Bump.dds
TURD/TU_B9_ProcWings/Textures/Standard_wing_surface_Spec.dds
TURD/TU_B9_ProcWings/TU_pWingsB9_Default.cfg
TURD/TU_B9_ProcWings/TU_pWingsB9_pPartsSets.cfg
TURD/TU_B9_ProcWings/TU_pWingsB9_Recolour.cfg
